.contact-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;     
      
}

.hobbies {    
  text-align: left;  
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 6px;
}

.cta {
  background-color: #007bff;
  color: #fff;
}
